.container {
	background-color: teal;
	border-radius: 100%	;

	height: 5vh;
	width: 5vh;

	margin: 10%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	font-weight: bold;
	color: white;
}